.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(38, 70, 130); */
  background-image: linear-gradient(to right, #c6fffc, #e8d5a8, #da79f7);
  transition: background-image 0.5s ease-in-out, transform 1s ease-in-out;
}

.register-page:hover {
  background-image: linear-gradient(to right, #da79f7, #e8d5a8, #c6fffc);
  transform: scale(1.2);
}
  .register-form {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 30%;
  }
  
  .register-form h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #b87333;
  }
  
  .register-form a {
    color: #b87333 !important;
  }
  
  .register-form a:hover {
    color: black !important;
  }
  
  .register-form button {
    background-color: #b87333;
    color: white;
  }
  
  .register-form input:focus {
    border: 1px solid #b87333 !important;
    color: #b87333;
  }
  .register-form button:hover {
    background-color: black;
    color: white;
  }